<!-- PROVIDE THE NAME IN THE TAG :: THE REST OF THE TEXT IS IN :: APP/VIEWS/LAYOUTS/APPLICATIONS.HTML.ERB -->
<% provide(:title, "CONTACT") %>

<!DOCTYPE html>
<html>
  <head>
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
  </head>
  <body bgcolor="#000000" class="bg_contact">
    <p>
      <img src="/assets/logo_n.png" id="logo" >
    </p>
    <p>
      <b>&#8728; CONTACT &#8728;</b>
    </p>
  </body>
</html>