<!-- PROVIDE THE NAME IN THE TAG :: THE REST OF THE TEXT IS IN :: APP/VIEWS/LAYOUTS/APPLICATIONS.HTML.ERB -->
<% provide(:title, "HOME") %>

<!DOCTYPE html>
<html>
  <head>
    <!-- GOOGLE FONT STYLE LINKS-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">

    <!-- BOOTSTRAP RESPONSIVE TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <!-- FILE BACKGROUND COLOR FOR CSS -->
  <body class="bg_home">

    <!-- LOGO & SLOGAN -->
    <div class="brand">
    <nav class="nav_home">
      <center>
        <ul type="none">
          <li><img src="/assets/logo_n.png" id="logo_home" height="80"></li>
          <li><b class="sl_home">be fitness &#8728; be great &#8728; be you</b></li>
        </ul>
      </center>
    </nav>
    </div>

      <table class="new_link_b">
        <tr>
            <th id="th1"><a id="sign_l" href="/signup"><font color="grey" style="opacity:.3">sign in</font></a></th>

            <th id="th2"><a id="log_l" href="/login"><font color="grey" style="opacity:.3">log in</font></a></th></th>
        </tr>
      </table>

<!-- FOOTER :: manda llamar desde app/viewa/layouts/_footer.html.erb -->
  <%= render :partial => 'layouts/footer' %>

  </body>
</html>