<!-- PROVIDE THE NAME IN THE TAG :: THE REST OF THE TEXT IS IN :: APP/VIEWS/LAYOUTS/APPLICATIONS.HTML.ERB -->
<% provide(:title, "HOME") %>

<!DOCTYPE html>
<html>
  <head>
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
  </head>
  <!-- FILE BACKGROUND COLOR -->
  <body bgcolor="#000000" class="bg_home">
    <p>
      <img src="/assets/logo_n.png" id="logo" >
    </p>
    <p>
      <b>be fitness &#8728; be great &#8728; be you</b>
    </p>
  </body>
</html>