// BACKGROUND ZONE
.bg_home {
    /* The background used */
  background-image: url(gym_w6.jpg);
  background-repeat: no-repeat;
    /* Full screen */
  background-size: cover;
}
.bg_help {
    /* The image used */
  background-image: url(gym_w7.jpg);
  background-repeat: no-repeat;
    /* Full screen */
  background-size: cover;
}
.bg_about {
    /* The image used */
  background-image: url(gym_w1.jpg);
  background-repeat: no-repeat;
    /* Full screen */
  background-size: cover;
}
.bg_gallery {
    /* The image used */
  background-image: url(gym_w6.jpg);
  background-repeat: no-repeat;
    /* Full screen */
  background-size: cover;
}
.bg_contact {
    /* The image used */
  background-image: url(gym_w1.jpg);
  background-repeat: no-repeat;
    /* Full screen */
  background-size: cover;
}
// FINAL BACKGROUND ZONE -------------------------------

// LOGO/SLOGAN ZONE
#logo {
    position: absolute;
    top: 270px;
    left: 340px;
    width: 120px;
  }
#help {
    position: absolute;
    top: 400px;
    left: 370px;
    font-family: 'Dhurjati', sans-serif;
    color: #f58514;
  }

  // logo/slogan ZONE -------------------------------

b {
    position: absolute;
    top: 360px;
    left: 235px;
    color: #f58514;
    // font-family: 'Baloo Paaji', cursive;
    font-family: 'Dhurjati', sans-serif;
    font-size: 30px;
  }

h1 {
    font-family: 'Dhurjati', sans-serif;
    color: #f58514;
  }
h5 {
    font-family: 'Dhurjati', sans-serif;
    color: #f58514;
  }

